<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Weather App</span>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Weather Search Input -->
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="search city" [(ngModel)]="citySearchQueryString" (keyup)="applyFilter($event.target.value)" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="clearSearch()">{{ citySearchQueryString ? 'Clear' : 'Search' }}</button>
</div>

<h3 class="center-align" *ngIf="!foreCastData">{{ infoMsg }}</h3>

<div class="list-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let element">{{ element.city }}</td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>State</th>
      <td mat-cell *matCellDef="let element">{{ element.state }}</td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Country</th>
      <td mat-cell *matCellDef="let element">{{ element.country }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="m-2 color-blue cursor-pointer" (click)="getForeCast(element.city)">visibility</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
</div>